body {
    margin: 20px; 
    background-color: #c7c7c791;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

#course-search, #students-search {
    border: black solid 1px;
}


form, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 15px;
    padding: 15px;
}

#result {
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    border-bottom: solid 1px black;
}

header {
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 15px;
}

#p2 {
    opacity: 30%;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;
}

#students {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px;
    padding: 10px;
}

#responsibleteacher {
    background-color: pink;
    width: 20vw;
    border: black solid 1px;
    margin: 3px;
    margin-left: 22px;
    padding: 2px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#findteachers {
    border: black solid 1px;
    margin: 3px;
    margin-left: 22px;
    padding: 2px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done {
    margin: 3px;
    padding: 2px;
    background-color: rgba(179, 230, 179, 0.705);
    text-align: center;
    border: black solid 1px;
}

.notdone {
    border: black solid 1px;
    padding: 2px;
    margin: 3px;
    opacity: 40%;
    text-align: center;
}

#border {
    border-bottom: 1px black solid;
}

.darkMode {
    filter: invert(1) hue-rotate(180deg);
    background-color: black;
  }
  