body {
    margin: 20px; 
    background-color: #d3c0b48e;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form {
    display: flex;
}

#course-search, #students-search {
    border-radius: 5px;
    border: black solid 1px;
}

#result {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: white;
} 